.banner-sinopse {
  display: grid;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

.banner-sinopse img {
  grid-area: 1/1;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.banner-txt {
  grid-area: 1/1;
  padding: 20px;
  position: relative;
}
.banner-txt h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}

.sinopse-info {
  display: flex;
}

.sinopse-info img {
  height: 20px;
  width: 20px;
  padding: 0px 4px;
}

.sinopse-info p {
  padding: 0px 20px;
  font-size: 1rem;
  color: var(--c5);
  margin-bottom: 24px;
}

.sinopse-txt {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0px 20px;
  gap: 0px 40px;
}

.sinopse-txt a {
  display: inline-block;
  text-decoration: none;
  width: fit-content;
  margin: 20px 0px;
  border: 2px solid var(--l1);
  border-radius: 50px;
  background-color: transparent;
  color: var(--l1);
  padding: 8px 16px;
  text-align: center;
  transition: 0.5s ease;
}

.sinopse-txt a:hover {
  background-color: var(--l1);
  color: var(--c1);
}

/* codigo para transformar article em modal  */
.card-sinopse {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 25%;
  width: 100%;
  height: 690px;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: var(--c13);
  color: var(--c1);
  margin: 20px;
  border-radius: 16px;
  max-width: 750px;
}

.card-sinopse .fechar-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: var(--c1);
  cursor: pointer;
}
