.banner-sinopse {
  display: grid;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

.banner-sinopse img {
  grid-area: 1/1;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.banner-txt {
  grid-area: 1/1;
  padding: 20px;
  position: relative;
}
.banner-txt h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}
.banner-txt > .font-2-x {
  color: var(--c1);
  font-weight: 800;
}

.sinopse-info {
  display: flex;
}

.sinopse-info img {
  height: 20px;
  width: 20px;
  padding: 0px 4px;
}

.sinopse-info p {
  padding: 0px 20px;
  font-size: 1rem;
  color: var(--c5);
  margin-bottom: 24px;
}

.sinopse-txt {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0px 20px;
  gap: 0px 40px;
}

.sinopse-txt a {
  display: inline-block;
  text-decoration: none;
  width: fit-content;
  margin: 20px 0px;
  background-color: var(--l1);
  color: var(--c1);
  border-radius: 50px;
  padding: 8px 16px;
  text-align: center;
  transition: 0.5s ease;
}

.sinopse-txt a:hover {
  border: 2px solid var(--l1);
  background-color: transparent;
  color: var(--l1);
}

/* codigo para transformar article em modal  */

.card-sinopse {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centraliza perfeitamente */
  width: 100%;
  box-sizing: border-box;
  max-height: 80vh;
  width: calc(100% - 30%);
  height: auto;
  background-color: var(--c13);
  color: var(--c1);
  border-radius: 16px;
  overflow-y: auto;
}
.card-sinopse::-webkit-scrollbar {
  display: none;
}
.card-sinopse .fechar-sinopse {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--c1);
  cursor: pointer;
  z-index: 1001; /* Garante que fique acima do conteúdo */
}

@media (max-width: 750px) {
  .card-sinopse {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh; /* mantém margem visual top/bottom */
    overflow-y: auto;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
  .sinopse-info p {
    font-size: 0.75rem;
  }
  .sinopse-txt > .audio {
    display: none;
  }
  .sinopse-txt {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .sinopse-info p {
    font-size: 0.75rem;
  }
  .font-card {
    font-size: 1rem;
  }
}
