.catalogo-bg {
  background-color: var(--c1);
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
  margin-bottom: 120px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.catalogo ul {
  display: flex;
  gap: 12px;
  justify-content: center;
  width: max-content;
  margin-bottom: 0px;
}

.catalogo li {
  overflow: hidden; /* Impede que a imagem ultrapasse os limites do li */
  border-radius: 8px; /* Aplica borda arredondada ao li */
}

.catalogo li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block; /* Remove espaços indesejados abaixo da imagem */
}

.catalogo li img:hover {
  transform: scale(1.1);
}
.faixa-2 {
  margin-bottom: 40px;
}

.faixa-1,
.faixa-principal,
.faixa-2 {
  overflow: hidden;
  position: relative;
}

/* faixa-1: esquerda → direita */
.faixa-1 ul,
.faixa-2 ul {
  animation: moveRight 20s linear infinite;
}
.faixa-principal ul {
  animation: moveLeft 20s linear infinite;
}
/* keyframes */
@keyframes moveRight {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-20%);
  }
}

@media (max-width: 750px) {
  .catalogo li img {
    height: 150px;
  }
}
