.catalogo-bg {
  background-color: var(--c1);
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
  margin-bottom: 120px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.catalogo ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: max-content;
}

.catalogo li {
  flex: 0 0 auto;
}

.catalogo li img {
  border-radius: 8px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.catalogo li img:hover {
  transform: scale(1.05);
}

.faixa-2 {
  margin-bottom: 40px;
}

.faixa-1,
.faixa-principal,
.faixa-2 {
  overflow: hidden;
  position: relative;
}

/* faixa-1: esquerda → direita */
.faixa-1 ul,
.faixa-2 ul {
  animation: moveRight 20s linear infinite;
}
.faixa-principal ul {
  animation: moveLeft 20s linear infinite;
}
/* keyframes */
@keyframes moveRight {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-20%);
  }
}
