.faq {
  margin-bottom: 120px;
}

.faq h1 {
  text-align: center;
  margin-bottom: 80px;
}

.faq dl .faq-perguntas {
  margin-bottom: 40px;
  border-bottom: 2px solid var(--c11);
}

.faq-titulos {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.faq-perguntas span img {
  height: 32px;
  width: 32px;
  transition: 0.3s;
  transform: rotate(180deg);
}
.faq-perguntas span img:hover {
  transform: rotate(0deg);
}

@media (max-width: 900px) {
  .faq-perguntas span img {
    height: 24px;
    width: 24px;
  }
}
