body {
  margin: 0px;
  padding: 0px;
  font-family: "inter", arial, sans-serif;
  background-color: var(--c13);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  color: var(--c1);
  background-color: var(--l1);
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p,
a {
  margin: 0px;
  padding: 0px;
}
