.header-bg {
  background-color: var(--c13);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--c1);
}
