.inscricao {
  display: none;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  background-color: var(--c1);
  border-radius: 16px;
  z-index: 1000;
  overflow-y: auto; /* adiciona barra de rolagem lateral */
  box-sizing: border-box;
}

.inscricao .header {
  display: flex;
  justify-content: space-between; /* span vai para esquerda, h1 para direita */
  align-items: center; /* centraliza verticalmente */
  padding: 12px 12px 0px 12px;
  margin: 0px;
}

.fechar-inscricao {
  cursor: pointer;
  font-size: 2rem;
}

/* Conteúdo interno */
.conteudo {
  padding: 24px 64px;
}

.titulo h1 {
  margin-bottom: 4px;
}
.titulo {
  margin-bottom: 24px;
  text-align: center;
}

.form input:hover,
input:focus {
  border: 2px solid var(--l1);
  box-shadow: 0 0 5px var(--l1);
}

.form input:not([type="checkbox"]):not([type="password"]) {
  width: 100%;
  padding: 24px 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  font-size: 1.125rem;
}

.form .senha input {
  width: 100%;
  padding: 24px 12px;
  margin-bottom: 4px;
  border-radius: 8px;
  font-size: 1.125rem;
}

.form .senha p {
  margin-bottom: 24px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 16px; /* espaçamento entre os blocos de label */
  margin-bottom: 32px; /* espaçamento geral abaixo da seção */
}

.checkbox-group label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.4;
}

.checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 8px;
  accent-color: var(--l1); /* cor do check, opcional */
}

.checkbox-group label:first-of-type p {
  margin-top: 0px;
  margin-bottom: 8px;
  text-align: left;
  text-justify: auto;
  font-size: 0.875rem;
  color: var(--c8);
}

.checkbox-group .aviso {
  margin-top: 8px;
  margin-bottom: 24px; /* espaçamento maior abaixo do aviso */
  font-size: 0.875rem;
  text-align: left;
}

.inscricao .button {
  margin-bottom: 40px;
}
