:root {
  --l1: #e85d04;
  --l2: #f48c06;
  --l3: #faa307;
  --l4: #ffba08;
  --l5: #370617;

  --c1: #f5f5f5;
  --c2: #e0e0e0;
  --c3: #cccccc;
  --c4: #b8b8b8;
  --c5: #a3a3a3;
  --c6: #8f8f8f;
  --c7: #7a7a7a;
  --c8: #666666;
  --c9: #525252;
  --c10: #3d3d3d;
  --c11: #292929;
  --c12: #141414;
}

.cor-p1 {
  color: #e85d04;
  fill: #e85d04;
}
